.addbutton {
    margin: 10px 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;

}

footer p {
    margin: 20px 0;
}

#main {
    margin: auto;
}

.plusbutton {
    margin-bottom: 15px;
}

.qcm-creer {
    min-height: 100vh;
    margin-left: 20px;
}

option {
    color: black;
}

option[value=""][disabled] {
    display: none;
}

.right-tooltip {
    border-radius: 100%;
    padding: 0 10px 2px 10px;
    font-weight: 600;
    background-color: white;
    color: black;
}

section {
    margin: 15px 20px;
    flex-grow: 1;
}


select:required:invalid {
    color: gray;
}